<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
                                Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <unity>
    <container>
      <register type="StudentsManager.DataAccess.Interface.IDataProvider[], 
                      StudentsManager.DataAccess.Interface"
                mapTo="StudentsManager.DataAccess.StudentsXmlProvider, StudentsManager.DataAccess">
        <constructor>
          <param name="filePath" value="..\..\StudentsRepo.xml"/>
        </constructor>
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
    </container>
  </unity>
</configuration>